<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/conf/ultra-root.xml</param-value>
    </context-param>
</web-app>
